* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #222;
  display: grid;
  grid-template-rows: 1fr 10fr;
  overflow: hidden;
}

.wrapper h1 {
  font-size: 30px;
  padding: 40px 0px;
  color: rgb(0, 199, 0);
  text-shadow: 0px 0px 3px 5px #444;
  text-align: center;
  font-weight: normal;
  /* text-shadow: 0 0 3px #fff; */
  font-family: sans-serif;
}

.wrapper .body {
  width: 242px;
  margin: auto;
  /* border: 1px solid white; */
}
